/* Layout de tela cheia */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #2d2d2d;
    color: #fff;
    overflow: hidden;
}

/* Cabeçalho da página */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #131316;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 100;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
}

header h1 {
    margin: 0;
    display: flex;
    align-items: center;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 20px; /* Ajuste o espaço entre os botões conforme necessário */
}

.atc-online {
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202024;
    height: 35px;
    width: 75px;
    border: none;
    border-radius: 5px;
}

.atc-online .online-number {
    color: #3b6cec;
    margin-right: 5px;
    font-weight: bold;
}

.mapUpdateTime {
    font-size: 15px;
    color: rgb(190, 190, 190);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(32, 32, 36, 1);
    height: 35px;
    width: 210px;
    border: none;
    border-radius: 5px;
    transition: background-color ease-in-out 0.15s;
}

.mapUpdateTime .time {
    margin-right: 5px;
    margin-left: 5px;
}

.SPY-logo {
    width: 150px;
    height: auto;
}

.Changelog-menu {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #131316; /* Cor de fundo escura */
    color: #ffffff; /* Cor do texto */
    width: 60%; /* Largura do menu */
    max-width: 800px; /* Limite de largura máxima */
    height: 400px; /* Altura do menu */
    position: fixed;
    overflow-y: auto;
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Sombra */
    z-index: 101;
    flex-direction: column;
    display: none;
}

.Changelog-menu .title {
    background-color: #202024; /* Fundo do título */
    padding: 15px;
    font-size: 1.5em;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #444; /* Linha separadora */
    position: relative; /* Necessário para posicionar o botão de fechamento */
}

.cl-close-button {
    position: absolute;
    top: 50%;
    right: 15px; /* Ajuste de espaçamento da borda direita */
    transform: translateY(-50%); /* Centraliza verticalmente */
    background-color: #131316;
    border: none;
    border-radius: 5px;
    padding: 5px; /* Espaçamento interno para centralizar */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.Changelog-menu .content {
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

.Changelog-menu .content h2 {
    font-size: 1.5em;
    color: #3b6cec; /* Cor chamativa */
    margin-bottom: 10px;
    border-bottom: 2px solid #444; /* Linha separadora */
    padding-bottom: 5px;
}

.Changelog-menu .content h3 {
    font-size: 1.4em;
    color: #4276fa; /* Cor do subtítulo */
    margin-bottom: 8px;
}

.Changelog-menu .content ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 10px;
}

.Changelog-menu .content li {
    margin-bottom: 8px;
    color: #ffffff; /* Cor do texto */
}

.Changelog-menu .content li::marker {
    color: #ff6b6b; /* Cor do marcador */
}

/* Estilo do botão de configurações */
.settings-button,
.close-button {
    background-color: rgba(32, 32, 36, 1);
    border: none;
    border-radius: 5px;
    padding: 5px; /* Espaçamento interno para centralizar */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 35px;
    width: 35px;
    transition: background-color 0.3s ease;
}

.settings-button:hover {
    background-color: rgba(50, 50, 55, 1);
}

.close-button:hover {
    background-color: rgba(50, 50, 55, 1);
}

.settings-icon,
.close-icon {
    width: 18px; /* Ajuste o tamanho do SVG conforme necessário */
    height: 18px;
}

.settings-menu {
    display: none;
    position: fixed;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Move o elemento para o centro exato */
    width: 300px;
    max-height: 90vh; /* Limita a altura ao tamanho da tela */
    overflow-y: auto; /* Adiciona rolagem vertical */
    background-color: #131316;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra lateral */
    z-index: 101;
}

.settings-menu h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    color: #3b6cec;
}

.settings-menu p {
    color: #bdbdbd;
    margin: 10px 0;
}

/* Estilo para o contêiner de configurações do mapa */
.map-settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

/* Estilo para cada opção de configuração */
.map-option {
    display: flex;
    align-items: center;
    background-color: #131316;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Estilo da checkbox personalizada */
.map-option input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: #2d2d2d;
    border: 1px solid #3b6cec;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    transition: background-color 0.3s ease;
}

.map-option input[type="checkbox"]:hover {
    background-color: #464646;
}

/* Estilo para o ícone de checkmark */
.map-option input[type="checkbox"]:checked {
    background-color: #3b6cec;
    background-image: url('Icons/checkmark-svgrepo-com.svg');
    background-size: 100%; /* Ajusta o tamanho do ícone */
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
}

.map-option input[type="checkbox"]:checked:hover {
    background-color: #0048ff;
}

/* Estilo do texto da opção */
.map-option label {
    color: #fff;
    font-size: 0.9em;
}

/* Container principal para o mapa */
#map-container {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(19, 19, 19, 255);
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.airport-ui {
    position: absolute;
    background-color: rgba(32, 47, 54, 0);
    padding: 3px 0px;
    border-radius: 3px;
    color: #7d7d85;
    font-size: 0.85em;
    text-align: center;
    width: 50px;
    z-index: 10;
}

.airport-ui .icao-code {
    background-color: transparent;
    border: none;
    color: #7d7d85;
    font-size: 1em;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}

.airport-ui .icao-code:hover {
    color: #ffffff;
}

.icao-code.active {
    color: #dcdcdc;
}

.airport-ui p {
    margin: 5px 0;
}

.airport-ui .badge {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;      /* Centraliza verticalmente o texto */
    margin: 0px;
    text-align: center;     /* Centraliza horizontalmente */
    border-radius: 5px;
    color: #fff;
    cursor: pointer;        /* Mostra que é interativo */
    pointer-events: auto;   /* Permite interações de hover */
    position: relative;
    transition: background-color 0.2s ease;
}

.airport-ui .badge.C {
    background-color: #3b6cec;
}

.airport-ui .badge.A {
    background-color: #ff7a00;
}

.airport-ui .badge.T {
    background-color: #b82a14;
}

.airport-ui .badge.G {
    background-color: #008856;
}

.airport-ui .badge.C:hover {
    background-color: #497dff;
}

.airport-ui .badge.A:hover {
    background-color: #e66900;
}

.airport-ui .badge.T:hover {
    background-color: #9e2411;
}

.airport-ui .badge.G:hover {
    background-color: #006f45;
}

.highlight {
    background-color: rgba(255, 215, 0, 0.5); /* Cor de destaque para a CTR */
    z-index: 10;
}

.icao-menu {
    position: absolute;
    background-color: #131316;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 20; 
}

.icao-menu .title {
    color: #3b6cec;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-flex;
    align-items: center;
}

.icao-menu .menu-divider {
    border: none;
    height: 1px;
    font-weight: normal;
    background-color: #3b6cec;
    width: 100%;
    margin: 4px 0;
    opacity: 0.3;
}

.icao-code .charts-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-charts {
    font-size: 15px;
    color: rgb(190, 190, 190);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.chart-button {
    font-size: 15px;
    color: rgb(190, 190, 190);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(32, 32, 36, 1);
    height: 35px;
    width: 210px;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Aponta que o elemento é clicável */
    transition: background-color 0.3s ease, color 0.3s ease; /* Efeitos suaves */
    margin-top: 5px;
}

.chart-button:hover {
    background-color: rgba(50, 50, 55, 1); /* Cor mais clara ao passar o mouse */
    color: white; /* Texto fica branco ao passar o mouse */
}

.airport-info-menu {
    position: absolute;
    background-color: #131316;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 20;
}

/* Estilo do título do aeroporto e posição */
.airport-info-menu .title {
    color: #3b6cec;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-flex;
    align-items: center;
}

.airport-info-menu .title .role1 {
    color: white;
    background-color: #3b6cec;
    font-size: 1em;
    font-weight: normal;
    width: 150px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    vertical-align: middle;
    display: flex;
}

.airport-info-menu .title .role2 {
    color: white;
    background-color: #3b6cec;
    font-size: 1em;
    font-weight: normal;
    width: 150px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    vertical-align: middle;
    display: none;
}

/* Estilo das informações do controlador */
.airport-info-menu .controller-info {
    font-size: 1em; /* Tamanho normal */
    color: #bdbdbd; /* Cor cinza clara */
    font-weight: normal;
}

.airport-info-menu .menu-divider {
    border: none;
    height: 1px;
    font-weight: normal;
    background-color: #3b6cec; /* Cor azul para combinar com o texto */
    width: 100%;
    margin: 4px 0; /* Ajuste o espaçamento conforme necessário */
    opacity: 0.3; /* Para dar um efeito de sombra */
}

/* Estilo da seção de informações do controlador */
.controller-info-section {
    background-color: rgba(32,32,36,1);
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    text-align: left;
}

.controller-info-section p {
    margin: 4px 0;
    color: #ddd;
    font-size: 0.9em;
}

.footer {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #bdbdbd; /* Cor cinza clara */
    font-size: 0.7em;
    z-index: 1000;
    user-select: none;
}